$colors: (
  bg: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 75%),
    300: hsl(257, 7%, 63%),
  ),
  txt: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 97%),
    300: hsl(0, 0%, 75%),
  ),
);
